<!-- <div class="sa"> -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <!-- Projects -->
      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/viewpu']">
          <span class="menu-title"> View Projects</span>
        </a>
      </li>
  
      <!-- Create Project -->
      
  
      <!-- Update Project -->
      
  
      <!-- Delete Project -->
     
  
      <!-- Task Actions -->
     
     
      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/viewtu']">
          <span class="menu-title">View Task</span>
        </a>
      </li>
     
      
      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/addcommentu']">
          <span class="menu-title">Add Comment</span>
        </a>
      </li>
      <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/updatestatusu']">
          <span class="menu-title">Update Status</span>
        </a>
      </li>
      <!-- <li class="nav-item menu-items">
        <a class="nav-link" [routerLink]="['/delete-comment']">
          <span class="menu-title">Delete Comment</span>
        </a>
      </li> -->
    </ul>
  </nav>
  <!-- </div> -->
  <!-- <div class="sa">
    <img src="assets/images/3.png" height="50%" width="80%">
  </div> -->
  